<div id="contact_us">
  <div id="contact_nums">
    <ul>
      <li>
        <%= image_tag 'visit_us.png' %>
      </li>
      <li>
        <%= image_tag 'visit_us_2.png' %>
      </li>
     </ul>
  </div>
  <div class="two_column">
    <div id="visit_us">
      <ul>
        <li><div id="visit_head"><%= image_tag 'point.png' %> Miracoli Furniture, Inc</div> </li>
        <li> 1026 E.Lacy Ave.</li>
        <li> Anaheim, CA 92805</li>
        </br>
        <li> miracolifurniture@yahoo.com</li>
        </br>
        <li>Office: (714) 502-9214</li>
        <li>Fax: (714) 502-9120</li>
        </br>
        <li><div id="visit_head2">Our Hours Are:</div></li>
        </br>
        <li>Monday-Friday</li>
        <li>From 8:00am - 4:00p.m.</li>
        </br></br>
        <li>For updates, follow us on Social Media:</li>
        </br>
        <li><%= image_tag 'fb.png' %>  <%= image_tag 'insta.png' %></li>
      </ul>
    </div>
    <div id="request_prop">
      <%= form_tag '/contact_email', multipart: true do -%>
          <div><%= label_tag 'name',nil,class: "contact_input"  %></div>
          <div><%= text_field_tag 'Name','',class: "contact_size" %></div>
          </br>
          <div><%= label_tag 'Phone',nil,class: "contact_input"  %></div>
          <div><%= phone_field_tag 'Phone','',class: "contact_size" %></div>
          </br>
          <div><%= label_tag 'email',nil,class: "contact_input"  %></div>
          <div><%= email_field_tag 'email','',class: "contact_size"%></div>
          </br>
          <div><%= label_tag 'furniture',nil,class: "contact_input"  %></div>
          <div><%= text_area_tag 'furniture','',class: "contact_tsize" %></div>
          </br>
          <div><%= label_tag 'services',nil,class: "contact_input" %></div>
          <div><%= text_area_tag 'services', '',class: "contact_tsize" %></div>
          <div id="theme"><%= label_tag 'theme', 'Pick Up or Delivery? (Optional):',class: "contact_input" %>
          <% [ 'Yes Please!', 'NO', 'Pick-Up', 'Delivery Only'].each do |theme| %>
              <br><%= radio_button_tag 'theme', theme, theme %>
              <%= theme.humanize %>
          <% end %>
          </div>
          </br>
          <div><%= label_tag 'contact_attach', 'Upload Attachments:'%></div>
          <div class="upload"><%= file_field_tag 'contact_attach[]', multiple: true %></div>
          <br>
          <div><%= submit_tag 'Submit',class: 'melbtn' %></div>
          <div>You will be contacted within 1 business day.</div>
      <% end -%>
    </div>
  </div>
</div>