<div id="banner">
</div>

<div id="about_us">
    <center><h1>About Us</h1></center>
    <div class="introduction1">
      <p>Miracoli Furniture, Inc. is a family owned and operated business.
      We are committed to bringing you into our family by offering you the best prices,
      best services and the most environmental form of reupholstering your patio furniture.
      We have over 29 years of experience in the manufacturing of aluminum outdoor furniture,
      providing us with a strong foundation in the techniques needed for customizing the
      restoration of your outdoor furniture.
      </br></br>
      Our services include re-sling, re-strapping, sandblast & powdercoat,
      welding as well as the manufacture of umbrella covers, cushions and parts. 
      Our refinishing processes can restore and customize your outdoor furniture to look new again.</p>
    </div>

    <div class="introduction2">
      <p>When you contact us, you will be assured to always speak to a representative that will
         answer all your questions and concerns. By working on a case-to-case basis,
         we commit to making your experience effortless.
         </br></br>
         You are welcome to call, e-mail, and or request a proposal at any time. Because your
         inquiry is important to us, we commit to contacting you within 1 business day, if not immediately.
         </br></br>
         We service residential areas, homeowners associations, hotels and even cruise ships
         in all of the Southern California region—from San Luis Obispo to San Diego.
         Out of state work orders are upon special request.</p>
    </div>
</div>

<center><h1>Why Restore?</h1></center>
<div id="why_restore">
  <div class="restore1">
    <ul>
      <li><%= image_tag 'go_green.png' %> Go Green!</li>
      <li><%= image_tag 'customize.png' %> Customize Your Furniture</li>
      <li><%= image_tag 'services.png' %> Best Customer Service</li>
    </ul>
  </div>
  <div class="restore2">
    <ul>
      <li><%= image_tag 'savings.png' %> Savings</li>
      <li><%= image_tag 'repairs.png' %> Case-To-Case Repairs</li>
      <li><%= image_tag 'delivery.png' %> Pick-UP & Delivery Services</li>
    </ul>
  </div>
</div>


