<div id="restore">
    <div id="rtitle">Why Restore?</div>
    <div class="rbody">
      <%= image_tag "go_green.png", class: "align-left"%>
      <p class="rheader">Go Green!</p>
      Help the environment by recycling, choosing a
      </br>
      company that uses GREEN tactics, and contributing,
      </br>
      to less pounds of landfield a year.
    </div>
    <div class="rlbody">
      <%= image_tag "savings.png", class: "align-right"%>
      <p class="rheader">Savings</p>
      Save anywhere from 30-70% than if you bought new.
    </div>
  <div class="rbody">
    <%= image_tag "go_green.png", class: "align-left"%>
    <p class="rheader">Go Green!</p>
    Help the environment by recycling, choosing a
    </br>
    company that uses GREEN tactics, and contributing,
    </br>
    to less pounds of landfield a year.
  </div>
  <div class="rlbody">
    <%= image_tag "savings.png", class: "align-right"%>
    <p class="rheader">Savings</p>
    Save anywhere from 30-70% than if you bought new.
  </div>
  <div class="rbody">
    <%= image_tag "go_green.png", class: "align-left"%>
    <p class="rheader">Go Green!</p>
    Help the environment by recycling, choosing a
    </br>
    company that uses GREEN tactics, and contributing,
    </br>
    to less pounds of landfield a year.
  </div>
  <div class="rlbody">
    <%= image_tag "savings.png", class: "align-right"%>
    <p class="rheader">Savings</p>
    Save anywhere from 30-70% than if you bought new.
  </div>


</div>