<div id="restore">
    <div id="rtitle">
      Why
      </br>
      Restore?</div>

    <div class="rbody">
      <%= image_tag "go_green_2.png", class: "align-left"%>
      <div class="rtext">
        <p class="rheader">GO GREEN!</p>
        Help the environment by recycling, choosing a
        </br>
        company that uses GREEN tactics, and contributing,
        </br>
        to less pounds of landfield a year.
      </div>
    </div>

    <div class="rlbody">
      <div class="rtext">
        <%= image_tag "savings_2.png", class: "align-right"%>
        <p class="rheader">SAVINGS</p>
        Save anywhere from 30-70% than if you bought new.
      </div>
    </div>

  <div class="rbody">
    <%= image_tag "customize_2.png", class: "align-left"%>
    <div class="rtext">
      <p class="rheader">CUSTOMIZE YOUR FURNITURE</p>
      Let us help make you make your job easier through our
      </br>
      pick up and delivery services.
    </div>
  </div>

  <div class="rlbody">
    <div class="rtext">
      <%= image_tag "repairs_2.png", class: "align-right"%>
      <p class="rheader">CASE-TO-CASE REPAIRS</p>
      Get the greatest looks on patio furniture by choosing
      </br>
      the top finishes, fabric, and colors.
    </div>
  </div>

  <div class="rbody">
    <%= image_tag "services_2.png", class: "align-left"%>
    <div class="rtext">
      <p class="rheader">BEST CUSTOMER SERVICE</p>
      We are committed to helping you by working on
      </br>
      a case-to-case basis.
    </div>
  </div>

  <div class="rlbody">
    <div class="rtext">
      <%= image_tag "delivery_2.png", class: "align-right"%>
      <p class="rheader">PICK UP & DELIVERY SERVICES</p>
      You will always speak directly to a representative assigned
      </br>
      to you that will answer you all your questions and concerns.
    </div>
  </div>

</div>