<div id="footer">
  <div class="container">
    <div class="row">
      <div id="fimage" class="col-xs-3">
          <%= image_tag 'logo_footer.png' %>
      </div>
      
      <div id="fmenu" class="col-xs-3">
        <span class="subtopic">Menu</span>
        </br>
        </br>
        <%= link_to "Home", root_path %>
        <br>
        <%= link_to "Why Restore?", restore_path %>
        <br>
        <%= link_to "Swatch Book", swatch_path %>
        <br>
        <%= link_to "Shop", shop_path %>
        <br>
        <%= link_to "Contact Us", contact_path %>
      </div>
      
      <div id="fcontact" class="col-xs-3">
        <span class="subtopic">Contact Us</span>
        </br>
        </br>
        1026 E.Lacy Ave., Anaheim,
        <br>
        CA 92805
        </br>
        </br>
        Office: (714) 502-9214
        <br>
        Fax: (714)502-9120
        </br>
        </br>
        info@miracolifurniture.net
        <br>
        miracolifurniture@yahoo.com
        </br>
        </br>
        Nazario Arroyo
        <br>
        Cell: (714) 651-2544
        </br>
        </br>
        Our Hours Are:
        <br>
        Monday-Friday
        <br>
        From 8:00am - 4:00p.m. Pacific Time
        <br>
        Saturday upon request
      </div>
      
      <div id="fsocial" class="col-xs-3">
        <span class="subtopic">Social</span>
        </br>
        </br>
        <%= link_to "http://www.facebook.com/", :target => "_blank" do %>
          <%= image_tag 'fb_footer.png' %>&nbsp;&nbsp;Facebook
        <% end %>
        </br>
        </br>
        <%= link_to "http://www.instagram.com", :target => "_blank" do %>
          <%= image_tag 'insta_footer.png' %>&nbsp;&nbsp;Instagram
        <% end %>
        </br>
        </br>
        <%= mail_to "me@domain.com" do %>
          <%= image_tag 'email_footer.png' %>&nbsp;&nbsp;Email
        <% end %>
      </div>
        
    </div>
  </div>
</div>